* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --headding-font-family: 'Fasthand', cursive, sans-serif;
    --font-family: 'Poppins', arial, sans-serif;
    --primary-color: #226312;
    --gradient-primary: linear-gradient(to right, #45B649, #DCE35B);
    /* For old browsers */
    --gradient-primary-color--1: #DCE35B;
    --gradient-primary-color--2: #45B649, ;

    --menu-active-bgc: rgb(222, 222, 222);
    --sticky-nav-bgc: rgba(222, 222, 222, 0.6);

    --aside-border--color: rgba(222, 222, 222, 0.6);

    --nav-height: 10vh;
}




.hidden {
    display: none;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: var(--font-family);
}

.nav {
    position: relative;
    height: var(--nav-height);
    width: 100vw;
    background-image: url('./IMG/bg_pattern_green_opacity_0_15.svg');
    background-size: 70%;

}

.sticky {
    position: fixed;
    z-index: 4;
    background-color: rgba(222, 222, 222, 0.6);
    left: 0;
}

.nav__burger-container {
    position: absolute;
    top: 25%;
    right: 10%;
    z-index: 3;
    color: var(--primary-color);
    font-size: 1.5rem;
}

.nav__burger-container.menu--active {
    position: fixed;
    top: 2.5%;
}

.nav__links {
    position: absolute;
    top: 0;
    left: 100vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--menu-active-bgc);
    background-image: url('./IMG/bg_pattern_green_opacity_0_15.svg');
    background-size: 70%;
    list-style: none;
    transition: .4s;
}

.nav__link {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--primary-color);
}

.nav__social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.nav__links.menu--active {
    left: 0;
    position: fixed;
}

.nav__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__logo-img {


    position: absolute;
    top: 0;
    left: -50%;
    /* z-index: 4; */
    transform: translateX(-50%) rotate(-25deg);
    transition: .4s;
    /* max-width: 100%; */
    max-height: var(--nav-height);

}

/* 
.nav__logo-img,
.nav__logo-img.menu--active {

    max-width: 100%;
    max-height: var(--nav-height);
} */


.nav__logo-img.menu--active {
    left: 50%;
    width: 30%;
    position: fixed;
    max-width: 100%;
    max-height: 50%;
    /* transform: rotate(-25deg); */
}

.nav__link {
    text-decoration: none;
}


.heading {

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5em;
    font-weight: normal;
    width: 100%;
    font-family: var(--headding-font-family);

    /* background: var(--gradient-primary-color--1);

    background: -webkit-linear-gradient(right, var(--gradient-primary-color--2), var(--gradient-primary-color--1));

    background: var(--gradient-primary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text; */
    background: -webkit-linear-gradient(#eee, #333);

    clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.heading__bar {

    background-color: var(--primary-text-color);
    width: .8em;
    height: .07em;
    border-radius: 15px;
    background: var(--gradient-primary-color--1);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--gradient-primary-color--2), var(--gradient-primary-color--1));
    /* Chrome 10-25, Safari 5.1-6 */
    background: var(--gradient-primary);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header__banner {
    background-image: url('./IMG/mountains-6486093-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover, 60%;
    ;
    height: 90vh;

}

.section {
    width: 100%
}

/* Section - 2 */
/* TO DO?  */
/* .section {
    padding-top: 10vh;
} */

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* .articles__latest-posts {
    width: 100%;
} */

/* Slider */
.articles__slider {
    position: relative;
}

.articles__slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.articles__slide {
    position: absolute;
    top: 0%;
    left: 50%;
}

.articles__slider-dots-container {

    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-around;
    padding: 5% 35%;
    align-items: center;
}

.articles__slider-dot {
    width: 7px;
    height: 7px;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.slider__dot--active {
    width: 12px;
    height: 12px;
    background: #DCE35B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn__slide {
    position: absolute;
    z-index: 1;
    font-size: 2em;
    border: none;
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;

}

.btn__slide--left {
    top: 50%;
    left: 3%;
}

.btn__slide--right {
    top: 50%;
    right: 3%;
}

/* Posts */
.post {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
    background-image: url('./IMG/bg_pattern_green_opacity_0_15.svg');
    background-size: 100%;
    border-radius: 0.25rem;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    margin-bottom: 5%;
    transition: .7s;


}

.post__img {

    height: 70%;
    width: 100%;
    background-image: url('./IMG/post.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .3s;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}

.post__data {
    display: flex;
    width: 100;
    background-color: rgba(190, 190, 190, .5);
}

.post__text {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    padding: 0 5%;


}

.post__title {
    text-align: center;
    text-align: justify;
}

.articles__featured-posts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.articles__featured-post {
    height: 70vh
}

.btn {


    background-color: var(--primary-color);
    border: none;
    margin: 4% 0 5% 0;
    font-family: var(--font-family);
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 5px 10px;
    letter-spacing: .1rem;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(54, 31, 84, .4);
    min-width: 40%;
    margin: 5% auto;


}


/* aside */
.aside {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}


.aside__subscribe,
.aside__contact,
.aside__subscribe-inputs,
.aside__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.aside__subscribe-inputs {
    width: 100%;
}

.about__pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-pic {
    background-image: url('./IMG/Profile-3jpg.jpg');
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    width: 45%;
}

.about-pic::before {
    display: block;
    content: '';
    padding: 50% 0;

}

.about__short-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside__txt {
    padding: 5% 10%;
    text-align: justify;
}

.aside__subscribe-input {
    margin: 2% 0;
}

.aside__contact-social-container {
    width: 80%;
}

.aside__contact-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

.aside__contact-link {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--primary-color)
}



#map {
    height: 50vh;
    width: 100%;
}

.destinations__motivation {
    width: 100vw;

    text-align: justify;
    background-image: url('./IMG/bg_pattern_green_opacity_0_15.svg');
    background-size: 80%;


}

.destinations__motivation-quote-container {
    width: 100%;
    height: 40vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}



.motivation__quote-author {
    font-family: var(--headding-font-family);
    text-align: right;
}

.footer {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.footer__social-heading {
    font-size: 1em;

}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    /* padding: 2% 0; */

}

.footer__link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.5em;
    ;
}

/* @media (orientation:portrait) and (min-width:820px) {

    .heading {

        font-size: .05em;

    }
} */

@media (orientation:portrait) and (min-width:280px) {
    .heading {

        font-weight: 100;
    }

    .motivation__quote-author {
        font-size: 1.5em;
    }
}

@media (orientation:portrait) and (min-width:375px) {

    .nav__burger-container {

        font-size: 1.5rem;
    }

    .nav__link {

        font-size: 1.5em;

    }

    /* .nav__logo-img.menu--active {

        width: 25%;

    } */
}

/* 540 */
@media (orientation:portrait) and (min-width:540px) {

    /* .nav__logo-img {
        width: 15%;
    } */

    .nav__burger-container {

        font-size: 2rem;
    }

    .nav__link {

        font-size: 1.5em;

    }

    /* .nav__logo-img.menu--active {

        width: 20%;

    } */

    .heading {

        font-size: 2.5em;

    }

    .heading__bar {


        width: 15%;
        height: .05em;

    }

    .post__data {
        font-size: 1em;
    }

    .post__text {
        font-size: 1em;

    }

    .btn__slide {

        font-size: 4em;


    }

    .btn {



        font-size: 1em;


    }

    .aside__content {
        flex-direction: row;
        padding: 0 5%;
    }


    .aside__contact-link {
        font-size: 2em;
    }



    .about-pic {


        width: 25%;
    }

    .aside__txt {
        font-size: 1em;
    }



    .footer__social-heading {
        font-size: 1em;
    }

    .footer__link {
        font-size: 1em;
    }

    .motivation__quote-author,
    .motivation__quote {
        font-size: 1.2em;
    }



}

/* end */

/* @media (orientation:portrait) and (min-width:820px) { */
@media (orientation:portrait) and (min-width:768px) {

    /* .nav__logo-img {
        width: 15%;
    } */

    .nav__burger-container {

        font-size: 2.5rem;
    }

    .nav__link {

        font-size: 2.5em;

    }

    /* .nav__logo-img.menu--active {

        width: 20%;

    } */

    .heading {

        font-size: 4.5em;

    }

    .heading__bar {

        background-color: var(--primary-text-color);
        width: 10%;
        height: .05em;
        border-radius: 15px;
        background: var(--gradient-primary-color--1);
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, var(--gradient-primary-color--2), var(--gradient-primary-color--1));
        /* Chrome 10-25, Safari 5.1-6 */
        background: var(--gradient-primary);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .post__data {
        font-size: 2em;
    }

    .post__text {
        font-size: 2em;

    }

    .btn__slide {

        font-size: 4em;


    }

    .btn {



        font-size: 2em;
        padding: 3% 6%;
        border-radius: 3em;



    }

    .aside__contact-link {
        font-size: 3em;
    }

    .aside__subscribe-inputs {
        flex-grow: 2;
    }



    .about-pic {


        width: 35%;
    }

    .aside__txt {
        font-size: 1.5em;
        max-width: 62%;
    }



    .footer__social-heading {
        font-size: 3em;
    }

    .footer__link {
        font-size: 2em;
    }

    .motivation__quote-author,
    .motivation__quote {
        font-size: 2.5em;
    }



}

@media (orientation:portrait) and (min-width:820px) {


    .post {
        width: 50%;
    }

    .footer__social-heading {
        font-size: 1.5em;
    }
}

/* @media (orientation:landscape) and (min-width: 667px) {

    .nav,
    .footer {
        height: 15vh;
    }

    .nav__logo-img,
    .nav__logo-img.menu--active {
        width: 10%;
        transform: rotate(0deg);
    }

    .nav__logo-img.menu--active {
        left: 10%;
    }

    .post {
        width: 50%;
    }

    .aside__content {
        flex-direction: row;
        padding: 0 5%;
    }

    .about-pic {
        width: 30vw;
    }


} */


@media (orientation:landscape) and (min-width: 1024px) {

    .nav {
        height: 9vh;
        background-size: 20%;

    }

    .nav__burger-container {
        display: none;
    }

    .nav__links {
        left: 50%;
        transform: translate(-50%);
        flex-direction: row;
        background: transparent;
        height: 100%;
    }

    .nav__social {
        display: none;
    }

    .nav__logo-container {
        max-width: 10%;
    }

    .nav__logo-img {
        /* width: 50%; */
        position: relative;
        left: 0;
    }

    #section--1 {
        height: 170vh;
    }

    .articles {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;

    }

    .aside {
        max-width: 30%;
        height: 100%;
        border-left: .05em solid var(--aside-border--color);
        justify-content: space-between;
    }

    .articles__slider-wrapper {
        overflow-x: hidden;


    }

    .articles__slider-wrapper,
    .articles__featured-posts-container {
        height: 60vh;

        ;
    }

    .articles__posts-container {
        flex-grow: 3;
        flex-wrap: wrap;
    }

    .articles__featured-posts-container {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .post {
        width: 30%;
        height: 90%;

        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
        /* box-shadow: 0 1.4px 1.1px rgb(0 0 0 / 3%), 0 3.3px 2.6px rgb(0 0 0 / 5%), 0 6.2px 5px rgb(0 0 0 / 6%), 0 11.2px 8.9px rgb(0 0 0 / 7%), 0 11px 16.5px rgb(0 0 0 / 9%), 0 50px 40px rgb(0 0 0 / 12%); */
    }

    .map {

        width: 95%;
        height: 90%;
    }

    .destinations__map-conteiner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #map {
        width: 65%;
        height: 70vh;
    }


    .nav__links,
    .section {
        max-width: 1140px;
    }

    .section {




        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
        ;
    }

    .section {
        padding-top: var(--nav-height);
    }

    .heading__bar {
        min-width: 15%;
        max-width: 50%;
    }

    .btn:hover {
        background: var(--gradient-primary);


    }

    .footer {
        height: var(--nav-height);
        width: 100%;
    }

}